@use './base/typography';
@use './base/reset';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  // position: relative !important;
  scroll-behavior: smooth !important;
}

h1{
  line-height: 1.2 !important;
}