name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1
        with:
          UPLOADTHING_SECRET: ${{ secrets.UPLOADTHING_SECRET }}
      - name: Checkout
        uses: actions/checkout@v3
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v5       
        with:
          build: npm run build
          start: npm start